<!--_meta 作为公共模版分离出去-->
{include file="Public/meta" /}
<!--/meta 作为公共模版分离出去-->

<title>添加用户 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="cl pd-20">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input class="cname" type="text" class="input-text" value="{$category.cate_name}" placeholder="" id="cate_name" name="cate_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">分类所属栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
			<span class="select-box">
				<select class="select xxx" size="1" name="parent_id">
					<option value="0">一级分类</option>
				  	{volist name="categorys" id="vo"}
					<option  value="{$vo.id}" {if condition="$category.parent_id eq $vo.id"} selected="selected" {/if}>{$vo.level|str_repeat='---',###}{$vo.cate_name}</option>
					{/volist}
				</select>
			</span> 
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button type="submit" class="edit_save btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="Public/footer" /}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/h-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h-ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/h-ui/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/h-ui/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
	$('.edit_save').click(function(){
		var parent_id = $('.xxx').val();
		var cate_name = $('.cname').val();
		var id = "{$category.id}";
		$.ajax({
			'url' : '/admin/category/cate_save',
			'type': 'post',
			'data' : {'id':id,'cate_name':cate_name,'parent_id':parent_id},
			'success' : function(data){
				if (data==1) {
					layer.msg('修改成功');
				}else{
					layer.msg('修改失败');
				}
			}
		})
	})
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>